[Unit]
Description = An over-engineered card/profile rendering web server
Requires=network.target
After = network.target

[Service]
Type = exec
Restart = on-failure
ExecStart = RUST_LOG=trace /home/ubuntu/hagaki/target/release/hagaki
WorkingDirectory= /home/ubuntu/hagaki
MemoryAccounting=true
MemoryHigh=1024M
MemoryMax=2048M
RestartSec = 120
TimeoutStartSec = infinity

[Install]
WantedBy = multi-user.target